@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900');

/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', 'sans-serif';
    height: 100vh;
    background-image: url(img/fromage.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
/* police */
html{
    font-size: 18px;
}

h1{
    font-size: 3rem;
    font-weight: bold;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem
}

h5{
    font-size: 1.1rem;
}

li, button, option{
    font-size: 1rem;
}

p{
    font-size: 0.8rem;
}
/* elements */
.ligne-separation-un{
    width: 40px;
    height: 1px;
    background-color: black;
}

.ligne-separation-deux{
    width: 40px;
    height: 1px;
    background-color: white;
}

button{
    cursor: pointer;
}

ul{
    list-style-type: none;
}

span.grey{
    color: grey;
}

span.white{
    color: white;
}
/* responsive */
@media (max-width: 1000px){
    .ligne-separation-un, .ligne-separation-deux{
        width: 30px;
    }

    html{
        font-size: 15px;
    }
}









/* Header */
header{
    top: 0;
    width: 100%;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: white;
    position: fixed;
    box-shadow: 0 0.1px 30px lightgrey;
}


header > img{
    height: 60%;
}

header > nav > ul{
    display: flex;
    align-items: center;
}

header > nav > ul > li{
    margin: 0 20px;
    cursor: pointer;
}

#reserver{
    border: 1px solid black;
    padding: 10px;
    color: white;
    background-color: black;
    transition: 0.4s;
}

#reserver:hover{
    background-color: white;
    color: black;
    transition: 0.4s;
}

#languages-select{
    border: 1px solid black;
    padding: 10px;
    transition: 0.4s;
}

#languages-select:hover{
    color: white;
    background-color: black;
    transition: 0.4s;
}

.menu{
    height: 6vh;
    width: 100px;
    display: flex;
    flex-direction: column;
}

.menu > div{
    height: 20%;
    margin: 10px;
    background-color: black;
}

@media (max-width: 1000px){
    nav ul{
        display: none !important;
    }
    
}

@media (min-width: 1000px){
    nav .menu{
        display: none;
    }

}




/* Accueil */

.accueil{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.accueil span{
    word-spacing: 1rem;
}

.accueil button{
    padding: 10px 50px;
    background-color: black;
    border: 1px solid black;
    color: white;
    transition: 0.4s;
}

.accueil button:hover{
    background-color: white;
    color: black;
    transition: 0.4s;
}

.accueil > *{
    margin: 20px;
}

.infos {
    background-color: white;
    padding: 6% 12%;
    padding-bottom: 100px;
}

.infos > div {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de se réorganiser lorsqu'ils sont trop larges */
}

.un, .deux {
    display: flex;
    width: 100%; /* Assurez-vous que chaque div prenne toute la largeur de leur parent */
    flex-direction: row; /* Maintient la direction des éléments en ligne pour les grandes tailles d'écran */
    justify-content: space-between;
    margin-bottom: 30px;
}

.un {
    height: auto; /* Enlever la hauteur fixe pour laisser les éléments grandir de manière flexible */
}

.deux {
    flex-direction: column; /* Sur les petits écrans, les divs passent en colonne */
    align-items: stretch; /* Permet à chaque div de s'étirer pour occuper l'espace disponible */
}

.image img {
    width: 100%; /* Ajuste la largeur de l'image à 100% de son conteneur */
    max-width: 400px; /* Limite la largeur max de l'image */
    box-shadow: 6px 6px 6px grey;
}

.infos-pratiques {
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    text-align: center;
    flex-grow: 1; /* Permet à cette section de s'étirer si nécessaire */
    margin-bottom: 10px; /* Sépare un peu les sections */
}

.horaires {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 10px;
    flex-grow: 1;
}

.horaires-display {
    display: flex;
    align-items: center;
    border-bottom: dotted 1px lightgrey;
    width: 85%;
    padding: 8px 0;
    justify-content: space-between;
}

.image, .titre, .infos-pratiques {
    width: 100%; /* S'assure que chaque section prend 100% de la largeur de son conteneur */
    text-align: center;
}

@media (max-width: 1400px) {
    .un, .deux {
        flex-direction: column;
        width: 100%;
    }

    .horaires {
        width: 100%; /* Assurez-vous que les horaires s'étendent sur toute la largeur disponible */
        border: 1px solid black;
        border-top: none; /* Retire la bordure supérieure */
    }

    .infos-pratiques {
        width: 100%; /* Ajuste la largeur de la section des infos pratiques */
    }
}




/* Newsletter */

.newsletter{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.newsletter > *{
    margin: 20px;
}

.newsletter p{
    width: 30%;
}

.newsletter button{
    padding: 10px 50px;
    border: 1px solid black;
    background-color: black;
    color: white;
    transition: 0.4s;
}

.newsletter button:hover{
    background-color: white;
    color: black;
    transition: 0.4s;
}








/* Photos */

.photos {
    height: 120vh; 
    background-color: white;
    padding: 7% 15%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}

.container {
    flex-grow: 1; 
    display: flex; 
}

.container > div{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.container > div > div{
    margin: 20px;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.container > div > div > img{
    width: 300px;
    object-fit: cover;
}

.photos button{
    padding: 10px 0;
    margin: 0 15%;
    width: 70%;
    border: 1px solid black;
    background-color: black;
    color: white;
    transition: 0.4s;
}

.photos button:hover{
    background-color: white;
    color: black;
    transition: 0.4s;
}

.marge{
    margin-top: 40px;
}


@media (max-width: 1000px){
    .marge{
        display: none !important;
    }
}



/* Contact */

.contact{
    height: 70vh;
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 25%;
}

.contact > *{
    margin: 10px;
}

form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

form > *{
    margin: 10px;
}

form > div{
    display: flex;
}

form > div > *{
    flex-grow: 1;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}

input[type="submit"], textarea{
    margin: 20px;
}


input[type="submit"]{
    padding: 10px 50px;
    border: 1px solid black;
    background-color: black;
    color: white;
    transition: 0.4s;
}

input[type="submit"]:hover{
    background-color: white;
    color: black;
    transition: 0.4s;
}

@media (max-width: 1000px){
    .contact{
        height: auto;
    }

    form > div{
        flex-direction: column;
    }
}




/* Map */

.map{
    height: 50vh;
    overflow: hidden;
}







/* Footer */

footer{
    color: white;
    height: 30vh;
    background-color: black;
    padding: 0 15%;
    display: flex;
}

footer > div{
    flex-grow: 1;
    padding: 3% 0;
}

footer > div > * {
    margin: 20px;
}

.white{
    border: 1px solid white;
    padding: 10px 20px;
    color: black;
    background-color: white;
    transition: 0.4s;
}

.white:hover{
    background-color: black;
    color: white;
    transition: 0.4s;
}

.fa-brands{
    height: 100%;
}

@media (max-width: 1000px){
    footer{
        height: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer > div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}